.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
p {
  color: #664716;
  font: 16px bold;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

